
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DepartmentLayout</title>
</head>
<body>
    <h1>Welcome to Department Pages</h1>
    <br />
    @RenderBody()
</body>
</html>
