
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" name="Name" value="" placeholder="Name" id="Name"/>
    </div>
    <div class="form-group">
        <label for="RegNo">RegNo</label>
        <input type="text" name="RegNo" value="" placeholder="RegNo" id="RegNo"/>
    </div>
    
    <div class="form-group">
        <input id="searchButton" type="button" value="Search"/>
    </div>
</div>



<table id="tbEmployee" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Reg No</th>
            <th>Salary</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/Employee/employee-search.js"></script>

}

@section styles{
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
}

