
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h1>Welcome to My Partial Page</h1>

<input type="text" id="regNo" name="RegNo" value="@ViewBag.RegNo"/>